<tr class="<%= "highlight" if high && tomato.id == high.id %>">
  <td class="tomato_duration">
    <%= link_to tomato_duration(tomato), tomato %>
  </td>
  <td><%= link_tags(tomato.tags) %></td>
</tr>