/* TEST FULL BACKGROUND
html {
	background: url(/images/bg_01.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} */

body {
	font-size: 13px;
	color: #444;
	position: relative;
	margin: 0;
	padding: 10px;
}

body, p, ol, ul, td {
	font-family: 'Varela Round', sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
}

ol, ul {
	padding: 0;
	margin: 0;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	margin-bottom: 20px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-spacing: 0;
}

table td,
table th {
	padding: 5px 10px 5px 0;
	border-bottom: 1px solid #ccc;
}

label {
	display: block;
	float: left;
	width: 120px;
}

input[type=text], select {
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	padding: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	font-size: 20px;
}

input[type=submit] {
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}

header {
	margin-bottom: 50px;
}

footer {
	margin-top: 100px;
}

footer p.right {
	text-align: right;
}

.right {
	float: right;
}

.left {
	float: left;
}

.block {
	overflow: hidden;
}

.notice {
  color: #090;
}

.alert {
  color: #f00;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}

.button.big {
	font-family:arial;
	font-size:15px;
	font-weight:bold;
}

a.button:hover {
	text-decoration: none;
}

.user {
	width: 200px;
}

.avatar {
	position: relative;
	width: 24px;
	height: 24px;
	margin-right: 5px;
}

.avatar .overlay {
	background-image: url(/images/rounded-avatar-24.png);
	position: absolute;
	top: 0;
	width: 24px;
	height: 24px;
}

.avatar.size48 {
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

.avatar.size48 .overlay {
	background-image: url(/images/rounded-avatar-48.png);
	width: 48px;
	height: 48px;
}

#flash {
	text-align: center;
}

#logo h1 {
	font-size: 48px;
	font-family: 'Leckerli One', cursive;
	margin-top: 10px;
	margin-bottom: -8px;
}

#logo h1.start {
	font-size: 158px;
	margin-bottom: -45px;
	text-align: center;
}

#logo h1 a:hover {
	text-decoration: none;
}

#logo h2 {
	font-size: 9px;
	margin-top: 0;
	margin-left: 53px;
}

#logo h2.start {
	font-size: 20px;
	margin-left: 436px;
	margin-bottom: 50px;
}

#container {
	width: 900px;
	margin: 0 auto;
}

#content {
	padding-bottom: 20px;
}

#intro {
	text-align: justify;
	margin: 60px auto;
	width: 650px;
}

#sign_in {
	margin: 80px 50px;
	text-align: center;
}

#sign_in .button {
	font-size: 30px;
}

#sign_in img {
	margin-bottom: -6px;
	margin-right: 6px;
}

#index {
	padding: 30px 0;
}

#index h3 {
	margin-top: 0;
}

#list_container {
	font-size: 10px;
	width: 400px;
	margin-bottom: 50px;
}

tr.highlight {
	background-color: #dfd;
}

td.tomato_duration {
	width: 110px;
}

#timer_container {
	width: 400px;
	text-align: center;
	position: absolute;
	top: 20px;
	right: 0;
	padding: 20px;
	background: #F9F9F9;
}

#timer_container.round_left {
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
}

#timer_container.round_right {
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}

#timer {
	font-size: 128px;
	margin: 20px 0 40px;
}

#start_container {
	width: 500px;
	text-align: center;
	margin: 0 auto 80px;
}

a#start {
	font-size: 54px;
}

a#squash {}

p#squash_hint {
	font-size: 10px;
}

#new_tomato_form {
	text-align: left;
}

#new_tomato_form label {
	display: block;
	float: none;
	width: auto;
}

#leaderboards {
	margin-bottom: 50px;
}

#leaderboards .leaderboard_list {
	width: 220px;
	margin-right: 5px;
}

#leaderboards .leaderboard_list li {
	list-style-position: inside;
	margin-bottom: 5px;
}

#leaderboards .leaderboard_list .count {
	margin-left: 43px;
	font-size: 10px;
}

#user {
	margin-bottom: 20px;
}

.chart {
	width: 900px;
	height: 400px;
	margin-bottom: 20px;
}

#progress_bar {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(0, 255, 0, .5);
	position: absolute;
	z-index: 100;
}