<% content_for :head do %>
  <%= javascript_include_tag "users" %>
<% end %>

<h3>Editing profile</h3>

<div id="request_notification_permission">
  <%= link_to "", "#" %>
  <div id="notification_not_supported" style="display: none">Note: notifications are not supported by your browser.</div>
</div>

<%= render 'form' %>

<%= link_to 'Back', current_user %>
