<% content_for :scripts do %>
  <%= javascript_include_tag 'users' %>
<% end %>

<h1><%= t('user.edit') %></h1>

<div class="row">
  <div class="col-md-6 col-sm-10">
    <%= render 'form' %>
  </div>
</div>

<%= link_to t('back'), current_user %>
