<header class="public">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= link_to t('app_name'), root_path, class: 'logo' %></h1>
        <h3><%= t('description_html') %></h3>
      </div>
    </div>
  </div>
</header>
