<header class="block container">
  <div id="logo" class="start">
    <div class="text">
      <h1><%= link_to "Tomatoes", root_path %></h1>
      <h2>Pomodoro technique<sup>®</sup> time tracker</h2>
    </div>
    <div id="sponsors" class="block">
      <p class="left">Sponsored by</p>
      <a id="mongohq" class="left" href="http://mongohq.com">MongoHQ</a>
    </div>
  </div>
</header>