<header class="public">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= link_to 'Tomatoes', root_path, class: 'logo' %></h1>
        <h3>Pomodoro Technique<sup>®</sup> timer, productivity booster, natural time tracker</h3>
      </div>
    </div>
  </div>
</header>
