<div id="index" class="block">
  <div class="block">
    <div id="list_container" class="left">
      <%= render :partial => 'tomatoes_list', :locals => {:high => nil} %>
    </div>

    <div id="user_statistics" class="right">
      <%= render :partial => 'user_statistics' %>
    </div>
  </div>
</div>