<div id="index" class="block">
  <div class="block">
    <div class="left">
      <div id="tomatoes_list">
        <%= render :partial => 'tomatoes_list', :locals => {:high => nil} %>
      </div>
      <div id="projects_list">
        <%= render :partial => 'projects_list' %>
      </div>
    </div>

    <div class="right">
      <div id="user_statistics">
        <%#= render :partial => 'user_statistics' %>
      </div>
    </div>
  </div>
</div>