<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "Today's projects", projects_path %></h3>
  </div>
  <% if @projects.empty? %>
    <div class="panel-body">
      <p><%= t('welcome.no_projects_yet_html', new_project_link: link_to(t('project.new').downcase, new_project_path) ) %></p>
    </div>
  <% end %>
  <% unless @projects.empty? %>
    <table class="table">
      <%= render partial: 'projects/project', collection: @projects %>
    </table>
  <% end %>
</div>
