<% unless @projects.empty? %>
  <h3><%= link_to "Today's projects", projects_path %></h3>
  <table>
    <%= render partial: 'projects/project', collection: @projects %>
  </table>
<% else %>
  <p>You're not working on any project</p>
  <p>Create a <%= link_to "new project", new_project_path %> to start collecting aggregate statistics</p>
<% end %>