<% unless @tomatoes.empty? %>
  <%= render :partial => 'welcome/tomatoes_day_list', :locals => {:high => high, :day => Time.zone.now, :tomatoes => @tomatoes} %>
<% else %>
  <p>No tomatoes here</p>
  <p>Click the Start button when you're ready to start your first tomato</p>
<% end %>