<h3 class="<%= relative_day(day).parameterize %>"><%= relative_day(day) %> (<%= pluralize(tomatoes.count, 'tomato') %>)</h3>
<table>
  <%= render :partial => 'tomatoes/tomato', :collection => tomatoes, :locals => {:high => high} %>
</table>