<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "Today's tomatoes", tomatoes_path %></h3>
  </div>
  <% if @tomatoes.empty? %>
    <div class="panel-body">
      <p><%= t('welcome.no_tomatoes_yet_html') %></p>
    </div>
  <% end %>
  <% unless @tomatoes.empty? %>
    <table class="table">
      <%= render partial: 'tomatoes/tomato', collection: @tomatoes, locals: {high: high} %>
    </table>
  <% end %>
</div>
