<% unless @tomatoes.empty? %>
  <% @tomatoes.each do |day, tomatoes| %>
    <h3 class="<%= relative_day(day).parameterize%>"><%= relative_day(day) %></h3>
    <table>
      <%= render :partial => 'tomatoes/tomato', :collection => tomatoes, :locals => {:high => high} %>
    </table>
  <% end %>
<% else %>
  <p>No tomatoes here</p>
  <p>Click the Start button when you're ready to start your first tomato</p>
<% end %>