<ul class="list-group">
  <% @tomatoes_count.each do |time_period, tomatoes_count| %>
    <li class="list-group-item">
      <span class="badge"><%= tomatoes_count %></span>
      <%= t("welcome.counters.#{time_period}") %>
    </li>
  <% end %>
</ul>
