<p>
  Leaderboards:
  <%= link_to "Today", ranking_today_path %>,
  <%= link_to "This week", ranking_this_week_path %>,
  <%= link_to "This month", ranking_this_month_path %>,
  <%= link_to "All time", ranking_all_time_path %>
</p>