<% unless leaderboard.empty? %>
  <ol>
  <% leaderboard.each do |item| %>
    <li class="block <%= content_for_user(item[:user]) { "you" } %>">
      <%= render :partial => 'users/user', :locals => {:user => item[:user]} %>
      <div class="count"><%= pluralize(item[:count], 'tomato') %></div>
    </li>
  <% end %>
  </ol>
<% else %>
  <p>No tomatoers here</p>
<% end %>