<h1>Tags</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Tomatoes</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @tomatoes_by_tag.each do |tag, tomatoes_count| %>
      <tr>
        <td><%= link_to h(tag), tag_path(h(tag)) %></td>
        <td><%= tomatoes_count %></td>
        <td><%= humanize(tomatoes_count*Tomato::DURATION) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tomatoes_by_tag %>
