<h1>Tag <%= URI.unescape(@tag) %></h1>

<dl class="dl-horizontal">
  <dt>Tomatoes</dt>
  <dd><%= pluralize(@tomatoes.size, 'tomato') %></dd>
  <dt>Total duration</dt>
  <dd><%= humanize(@tomatoes.size*Tomato::DURATION) %></dd>
</dl>

<%= link_to t('back'), tags_path %>
