<h3>Tag <%= @tag %></h3>

<p>
  <b>Tomatoes:</b>
  <%= pluralize(@tomatoes.size, 'tomato') %>
</p>

<p>
  <b>Total duration:</b>
  <%= humanize(@tomatoes.size*Tomato::DURATION) %>
</p>

<%= link_to 'Back', tags_path %>
