// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_statistics {
  margin-bottom: 3px;

  .counter {
    width: 175px;
  }
}
