pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

div.field, div.actions {
	margin-bottom: 10px;
}

#notice {
	color: green;
}

.field_with_errors {
	display: inline;

	input[type="text"], select {
		border: 1px solid #c00;
	}
}

#error_explanation {
	width: 450px;
	margin-bottom: 20px;
	border: 1px solid #c00;

	h2 {
		padding: 5px;
		margin: 0;
		font-size: 16px;
		background-color: #c00;
		color: #fff;
	}

	ul li {
		list-style: none;
		padding: 5px;
	}
}
