pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

div.field, div.actions {
	margin-bottom: 10px;
}

#notice {
	color: green;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	margin-bottom: 20px;
	border: 1px solid #c00;
	border-radius: 3px;
}

#error_explanation h2 {
	padding: 5px;
	margin: 0;
	font-size: 16px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	list-style: none;
	padding: 5px;
}
