html, body {
  height: 100%; /* needed for container min-height */
}

body {
  color: #444;
  position: relative;
  margin: 0;
  padding: 0;
}

body, button, .button {
  font-family: $paragraph-font-family;
}

button:hover, button:focus, .button:hover, .button:focus {
  color: inherit;
}

ol, ul {
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  margin-bottom: 20px;
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  border-spacing: 0;

  td, th {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
  }

  tr.even {
    background: #f6f6f6;
  }

  th {
    font-weight: normal;
    background: #DDD;
    text-align: left;
  }

  td.number, th.number,
  td.time, th.time {
    text-align: right;
  }

  td.show, table th.show,
  td.edit, table th.edit,
  td.destroy, table th.destroy {
    width: 18px;
    text-align: center;
  }

  td.show a, td.edit a, td.destroy a {
    display: block;
    text-indent: -9000px;
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }

  td.show a:hover,
  td.edit a:hover,
  td.destroy a:hover {
    opacity: 0.8;
  }

  td.show a {
    background-image: url(image-path("icons/show.png"))
  }

  td.edit a {
    background-image: url(image-path("icons/edit.png"))
  }

  td.destroy a {
    background-image: url(image-path("icons/destroy.png"))
  }
}

input[type=text], input[type=number], select {
  font-family: $paragraph-font-family;
  margin: 2px 0;
  padding: 3px;
  border: 1px solid #dcdcdc;
  font-size: 20px;
}

input[type=submit] {
  font-family: $paragraph-font-family;
  font-size: 13px;
  margin: 0;
}

footer {
  margin-top: 100px;

  .right {
    text-align: right;
  }

  .trademarks {
    margin: 10px 0;
    font-size: 10px;
    color: #888888;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.block {
  overflow: hidden;
}

.notice {
  color: #090;
}

.alert {
  color: #f00;
}

.button {
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;

  &:hover {
    background-color: #e6e6e6;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &.big {
    font-size: 15px;
    font-weight: bold;
  }
}

a.button {
  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: #777;
  }
}

.pagination {
  text-align: right;
}

.counter {
  text-align: left;
  vertical-align: top;
  width: 120px;

  .counter_value {
    font-size: 24px;
    font-weight: bold;
  }

  &.red .counter_value {
    color: #f00;
  }

  &.green .counter_value {
    color: #008000;
  }
}

.hint {
  color: #999;
}

#flash {
  text-align: center;
}

#announcement {
  margin: 20px 0;

  .title {
    font-weight: bold;
  }
}

#logo {
  h1 {
    font-size: 28px;
    font-family: 'Leckerli One', cursive;
    margin: 0;
    padding-left: 28px;
    background-image: url(image-path("tomatoes_logo_24.png"));
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  h1 a:hover {
    text-decoration: none;
  }

  &.start h1 {
    font-size: 158px;
    margin-bottom: -45px;
    text-align: center;
    padding-left: 136px;
    background-image: url(image-path("tomatoes_logo_128.png"));
    background-position: 64px 50%;
  }

  h2 {
    font-size: 9px;
    margin-top: 0;
    margin-left: 58px;
  }

  &.start h2 {
    font-size: 20px;
    margin-left: 476px;
    margin-bottom: 0;
  }

  &.start #sponsors {
    margin-left: 612px;
  }

  &.auth .text {
    margin-right: 20px;
  }

  #sponsors p {
    margin: 0;
    margin-top: 6px;
    margin-right: 7px;
  }

  #sponsors a#mongohq {
    display: block;
    text-indent: -9000px;
    background-image: url(image-path("sponsors/mongohq_small.png"));
    width: 100px;
    height: 28px;
  }
}

.container {
  @include grid-row;
  margin: 0 auto;
}

#container {
  position:relative;      /* needed for footer positioning*/
  height:auto !important; /* real browsers */
  height:100%;            /* IE6: treaded as min-height*/
  min-height:100%;        /* real browsers */
}

#header_container {
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
  margin-bottom: 50px;

  &.auth {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    color: #777;
  }

  #user_container, #sign_in_container {
    margin-top: 3px;
  }

  #sign_in_container a img {
    margin-bottom: -8px;
  }
}

#main_container {
  padding-bottom: 140px; /* bottom padding for footer */
}

#footer_container {
  position: absolute;
  width: 100%;
  bottom: 0; /* stick to bottom */
  margin-bottom: 5px;
}

#add_to_chrome {
  margin: 10px 0;

  img {
    margin-bottom: -6px;
  }

}
