#intro {
	font-size: 18px;
	text-align: center;
	margin: 80px;
}

.sign_in {
	margin: 80px 50px;
	text-align: center;

	.button {
		font-size: 30px;
	}

	img {
		margin-bottom: -6px;
		margin-right: 6px;
	}
}

#index {
	padding: 30px 0;

	h3 {
		margin-top: 0;
	}
}

#tomatoes_list,
#projects_list,
#user_statistics {
	margin-bottom: 50px;
}

#tomatoes_list,
#projects_list {
	font-size: 10px;
	width: 400px;
}

tr.highlight {
	background-color: #dfd;
}

td {
  &.tomato_duration,
  &.project_name {
	  padding-left: 1px;
	}
}

td.tomato_duration {
	width: 150px;
}

#timer_container {
	width: 400px;
	text-align: center;
	position: fixed;
	top: 5%;
	left: -450px;
	padding: 20px;
	background: #f9f9f9;
	border: 1px solid #eee;

	&.round_left {
		border: 1px solid #999;
		border-right: 0 none;
	}

	&.round_right {
		border-left: 0 none;
	}
}

#timer_counter {
	font-size: 128px;
	margin: 20px 20px 20px;
}

#start_container {
	width: 500px;
	text-align: center;
	margin: 0 auto 20px;
}

a#start {
	font-size: 54px;
}

p#reset_hint {
	font-size: 10px;
}

#new_tomato_form {
	text-align: left;
}

#leaderboards {
	margin-bottom: 50px;

	.leaderboard_list {
		width: 235px;
		margin-right: 5px;
	}
}

.leaderboard_list {
	li {
		list-style-position: inside;
		margin-bottom: 5px;
		padding: 2px;
	}

	.count {
		margin-left: 30px;
		font-size: 10px;
	}

	li.you {
		background-color: #f0f0f0;
	}
}

#user {
	margin-bottom: 40px;
}

.chart {
	width: 960px;
	height: 480px;
	margin-bottom: 20px;

	&.overview {
		width: 960px;
		height: 80px;
		margin-bottom: 40px;
	}
}

#tomatoes_by_hour.chart {
	margin-bottom: 40px;
}

#progress_bar {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	position: absolute;
	z-index: 100;
}

#request_notification_permission {
	margin-bottom: 20px;
}

/* VOLUME BOX */
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

.volume {
	font-size: 18px;
	margin-top: -20px;

	.up, .down {
		margin-top: 4px;
		font-weight: bold;
	}

	.down {
		margin-right: 8px;
	}

	.mute_toggle {
		margin-right: 4px;
	}

	.up, .down, .mute_toggle {
		cursor: pointer;
	}
}

#volume_icon {
	width: 32px;
	height: 35px;
	opacity: 0.7;
	background-image: url(image-path("speaker_sprite.png"));
}

#ticking_sound_switch_container {
  text-align: left;
}

@for $level from 0 through 3 {
	#volume_icon.level_#{$level} {
		background-position: 0 -#{$level * 35}px;
	}
}

#tomato_signin {
	h2 {
		margin-top: 0;
	}

	.button {
		font-size: 24px;
	}

	.button img {
		margin-bottom: -4px;
	}

	#cancel {
		margin-top: 20px;
	}

	#cancel .button {
		font-size: 10px;
	}
}
